# Secrets & Environment
.env
*.env
secret.key
secrets.toml
.secret/
service_account.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environments
venv/
.venv/
env/

# Logs
*.log

# VS Code
.vscode/

# Streamlit
.streamlit/
.streamlit/cache

